In [8]:
import json

import pandas as pd

filename = "particle_axis.xlsx"

df = pd.read_excel(filename, header=None, names=["x", "y", "z"])
df.head()

            x         y         z
NaN -0.807134 -0.701210 -1.901180
NaN -0.334436 -1.188520 -0.999750
NaN -1.014100 -0.661931 -0.118045
NaN -1.174250 -0.598529 -0.059036
NaN  0.287469  1.009580 -0.143041

In [9]:
result = {"point": []}

for x, y, z in zip(df["x"], df["y"], df["z"]):
    result["point"].append([x, y, z])

with open("particle_axis.json", "w") as f:
    json.dump(result, f, indent=4)