In [1]:
import json

import pandas as pd

filename = "particle_axis.xlsx"

df = pd.read_excel(filename, header=None, names=["x", "y", "z"])
df.head()

            x         y         z
NaN  -9.76675  11.84380  3.307240
NaN  -9.47586  11.68870  3.083520
NaN  10.09630   8.61039 -0.277518
NaN  -9.68146  11.72110  3.673110
NaN  -9.36359  11.50450  3.430810

In [7]:
result = {"point": []}

for x, y, z in zip(df["x"], df["y"], df["z"]):
    result["point"].append([x, y, z])

with open("particle_axis.json", "w") as f:
    json.dump(result, f, indent=4)